.DS_Store
.vscode/
apps/
build/
composer/
cpp/
ext/
foundation/
internals/
runtest/
/conf/pull-request
/src/
/std/
/sec/
/7/
/71/
/72/
/73/
/74/
/80/
/81/
/82/
/83/
/84/
/master/
phpc/
test/
doc/
web/
pickle/
phalcon/
frankenphp/
libs/
phd/
releases/
valgrind/
xdebug/
output/
bench/
zephir/
fpmt/
fpmti/
fpmb/
rfc/
todo/
issues/gh8517/
static-php-cli/
tests/
win/


